[2018-04-13 11:13] hesterbruikman opened #1 "UX Audit of 5 DApps"
**# UX Audit of 5 DApps**

Decentralized apps, DApps, are the Apps of Web3.0. They are decentralized applications that use blockchain and smart contracts as their backend.

Status wants to help people onboard to web3.0. The more DApps are available on this new web, the higher the likelihood of people finding applications that are meaningful for them. For reference, the App store would not be inter

[2018-04-13 14:37] hesterbruikman opened #2 "Flow design of ‘Invite friends’"
**# Flow design of ‘Invite friends’**

The Core app of Status includes social functionality such as messaging and transacting cryptocurrency. To enable this functionality it is essential that people can easily invite friends to use the app without losing focus of the original goal to send a message or transaction.

In the current implementation of the Status app, people would share their public ke

[2018-05-30 13:50] status-open-bounty commented on #1
Balance: 0 ETH
Tokens: SNT: 5000.00
Contract address: [0x2c20b0bfc12345da97a1b405210b56cd1c515fb3](https://etherscan.io/address/0x2c20b0bfc12345da97a1b405210b56cd1c515fb3)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: alegw
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-30 13:50] status-open-bounty commented on #2
Current balance: 0.0 ETH
Tokens: SNT: 5000.00
Contract address: [0x4df0b6dc7db6e0b7a1e2d0e525619c1afa989213](https://etherscan.io/address/0x4df0b6dc7db6e0b7a1e2d0e525619c1afa989213)
![QR Code](https://openbounty.status.im/qr/status-im/design/bounty/2/aca7316a3d7048b19dd66a91b64d7ef582f85dcc224910728ec6352555e8ad36/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.

[2018-06-11 19:15] alescode commented on #1
Hey peeps!

I'm tackling this one for the next couple days. Did a UX audit of Peepeth and started gathering usability heuristics specific to Ðapps.

If you're curious, here's a sneak peek. I like Markdown for these kinds of written tasks, but am open to format suggestions:
https://hackmd.io/FhfCq-rCTyKFQ_j6eyKSjw

Comments welcome!

<blockquote><img src="https://hackmd.io/favicon.png" width="48" a

[2018-06-12 04:29] hesterbruikman commented on #1
Great start @alegw!

Looking forward to see how Peepeth compares to some other DApps and understand if there are basic heuristics that are structurally lacking (e.g. due to ecosystem limitations) that we can shift our focus to.

 Thanks for the update!

[2018-06-15 11:21] alescode commented on #1
Ok, just finished producing a thorough report. You can [read the whole thing here](https://hackmd.io/FhfCq-rCTyKFQ_j6eyKSjw). I offer my recommendations humbly, since I'm new to the space:

1. Acquiring ether and convincing users to spend it are the main sources of initial friction. Let's keep working on ways to abstract gas away during onboarding. Good resources to build on are [this talk on Univ

[2018-06-19 13:38] alescode commented on #2
I spent a couple of days on this task, researching the current state of the art in deep linking and invitation flows on Android and iOS. I'm aiming to balance Status's policy of collecting as little personal information as possible with the need to grow the userbase by reducing friction – there's **a lot of messenger competition**. Solutions that involved asking for access to the user's contacts o

[2018-06-22 13:15] andmironov opened #4 "Redesign of the docs.status.im"
Here is the new dosc site https://github.com/status-im/docs.status.im/tree/NewSite which works on https://docusaurus.io/ an open-source platform for documantation websites.

Currently it's using the default theme so we need to theme it up according to our brand guidelines

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="htt

[2018-06-22 13:26] andmironov opened #5 "Commands in chat"
Working on the commands in chat.

## Summary

Commands in chat exist to make it quicker and easier to interact with certain function of the app or third-party DApps. At the moment there are two pre-defined commands: `/send` and `/request`

1. `/send` command
This command is a shortcut for sending a transaction in chat to the current recipient. Provides a way to define **amount** and **currency** a

[2018-06-22 13:40] andmironov opened #6 "Brand Assets available for download"
## Summary
We need a place where all the brand assets will be available for download, as well as the color palette, icons, typography rules

Currently it's a repo with only Status logos in `.svg` available https://github.com/status-im/design-guides

This should be a part of https://design.status.im/ eventually, but for now let's use github to speed it up

[2018-06-26 08:38] denis-sharypin opened #7 "New send transaction flow mockups and prototype"
Based on the feedback from the UXR session and overall feedback from the team we need to redesign a send transaction flow in the wallet.

Mockups should match following criteria:

1. Less overwhelming: a user sees a clear action to proceed
2. A user can see fiat value of crypto
3. A user can enter fiat amount
4. Tx fee is simplified and it's obvious that it doesn't belong to Status
5. A user can s

[2018-06-26 08:43] denis-sharypin commented on #7
1st iteration and mockups are here:https://docs.google.com/presentation/d/11vEgAbZgXvCwiS2QdMmW3vjOBApx5y8ARXNbFLyJBuk/edit?ts=5b238feb#slide=id.g3beee3ddf4_0_13

The prototype for UXR testing (with incorporated feedback from presentation) could be found here:
https://invis.io/X5LTFQFWB64

<blockquote><img src="https://lh4.googleusercontent.com/Y81kjIb9TtxidBE1_e0sKd0dp5sDO92fNxJhrMFDC1aRybpVn7vfo

[2018-06-26 08:47] #7 closed, assigned to denis-sharypin

[2018-06-26 09:22] denis-sharypin opened #8 "ENS dapp redesign"
Developers have created a test dapp that could register a Status ENS name using a domain : [name].stateofus.eth. This dapp requires more thought on the UX and UI sides.

Dapp (test networks)
https://ipfs.io/ipfs/Qme9fLcqV29iTe5NqFsbCBfHCzu3yFsdtRNYuDYVqgLthg/

<blockquote><div><strong><a href="https://ipfs.io/ipfs/Qme9fLcqV29iTe5NqFsbCBfHCzu3yFsdtRNYuDYVqgLthg/">Status.im Domain Registration</a></

[2018-06-28 12:41] andmironov opened #9 "Download Status/Join chat website"
We’d have the the channel name. Status logo. CTA to download Status. Maybe something about who/what we are?

We have the website up and running already https://get.status.im/chat/public/status

We also want to add ways in the app to get/share public links

[2018-06-28 12:45] andmironov opened #10 "Component Library"
Current state of Component library in Sketch https://share.goabstract.com/98ba5369-0f46-4124-ab6c-22ff11abd610
- Icons
- Typography (WIP)
- Color Palette
- Dividers
- Status Bars
- Toolbars (WIP)
- Form controls and buttons (WIP)

[2018-07-02 08:07] errorists opened #11 "Sounds in Status"
In the nearby future we plan to add sounds inside Status, for both notifications and user interactions.

Planned scope

- Notification (app closed)
- New account set up
- Message sent successfully (in a conversation)
- Message received (in a conversation, without variations for now)
- Signing transaction
- Receiving a transaction (app closed)
- Transaction request (app closed)
- Receiving a transa

[2018-07-03 13:25] andmironov commented on #9
summary: https://wiki.status.im/Universal_Links

<blockquote><img src="/favicon.ico" width="48" align="right"><div><strong><a href="https://wiki.status.im/Universal_Links">Universal Links - Status Wiki</a></strong></div></blockquote>

[2018-07-04 09:29] errorists opened #12 "Animation inside chat"
The scope of this task is to design and document all animation and interactions that takes place inside chat. Since a lot of the UI is built with custom components without native counterparts, it's the perfect place to start using motion as a brand element.

Some general ideas:

- If an interaction or animation is better defined as a global app-wide behaviour it should fall outside the scope of th

[2018-07-10 14:06] alescode commented on #1
Hey, any updates here?

[2018-07-12 13:20] hesterbruikman commented on #1
Thanks for pinging @alegw ! Totally missed this while I was out on vacation. I'll walk through the report today. Thanks for preparing!

[2018-07-12 13:40] errorists opened #13 "Images in chat"
Research and design sending / receiving images inside chat, keeping in mind the potential use cases and opportunities unique to Status, and/or technical limitations.

Scope:

- Accessing the photo library, asking for permission, empty state
- Composing messages with photos, removing photos
- Copy/pasting photos from other apps
- Taking photos with the camera, asking for permission, empty state
- C

[2018-07-18 12:59] errorists opened #14 "Reply to messages in chats"
Feature Request: https://github.com/status-im/status-react/issues/4608

Design a means to reply to a message from chat, quote it and scroll back to the original message on tap. This concerns public and group chats but I'm also wondering if a case can't be made for this feature inside 1:1 chats.

[2018-07-18 13:04] errorists opened #15 "Add T&C and Privacy Policy"
Feature request https://github.com/status-im/status-react/issues/4932

Design and add a Terms and Conditions and Privacy Policy on user signup, recovery and profile.

Prototype https://framer.cloud/kBFqz

<blockquote><img src="https://framer.cloud/kBFqz/1/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/kBFqz">Onboarding Privacy</a></strong></div><div

[2018-07-18 14:13] errorists opened #16 "Reconsider onboarding"
We need to revisit the onboarding flow and review our findings, observations and ideas for actionable improvements towards a better user experience.

[2018-07-18 15:07] denis-sharypin commented on #8
Link to the prototype that I'm working on https://invis.io/J2MKTD9XQAZ#/307026364_01

<blockquote><img src="https://s3.invisionapp-cdn.com/storage.invisionapp.com/screens/thumbnails/307026364.png?x-amz-meta-iv=4&response-cache-control=max-age%3D2419200&x-amz-meta-mdi=25&x-amz-meta-ck=4f0f515ce7c3fdbb1db49f60a9717d46&AWSAccessKeyId=AKIAJFUMDU3L6GTLUDYA&Expires=1535760000&Signature=LbmevcNdQrxtMH8Dk

[2018-07-20 08:39] #1 closed, assigned to jpbowen, andmironov, denis-sharypin, hesterbruikman

[2018-07-20 13:29] hesterbruikman commented on #2
Looking into this @alegw !

[2018-07-23 10:31] errorists commented on #14
Prototypes
1. https://framer.cloud/XvSUR/
2. Alternative https://framer.cloud/DPXjR/

<blockquote><img src="https://framer.cloud/XvSUR/5/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/XvSUR/">Reply to Messages</a></strong></div><div>Long press on me​ssages to see possible actions</div></blockquote>
<blockquote><img src="https://framer.cloud/DPXjR/1/

[2018-07-24 08:15] denis-sharypin commented on #8
Feedback from the last call:
— design of a permission popup is confusing
— User can't transfer her domain name
— transactionconfirmation screens  are not necessary

[2018-07-27 06:49] errorists commented on #14
Zeplin [zpl.io/aRYAgnv](zpl.io/aRYAgnv)

[2018-07-27 06:49] #14 closed, assigned to errorists

[2018-07-27 08:35] hesterbruikman opened #18 "Hardware wallet integration Flow and UI design"
### Summary
Status is working on providing a hardware wallet (HW) in conjunction with the Core app and Desktop app. Two versions of the HW will be released:

- HW Lite - [SmartCard application](https://www.acs.com.hk/en/products/405/acosj-java-card-combi/) - Q3 2018
- HW Pro - Custom application & design - Start Design & Dev in Q4; Delivery in 2019

@bitgamma has developed the HW Lite, which is be

[2018-07-27 09:01] hesterbruikman opened #19 "Design for docs.status.im"
Documentation is the # 1 biggest issue highlighted by developers across the ecosystem.

https://docs.status.im/

### Designs tasks
- Identify user goals and required primary and secondary actions on Landingpage.
- Identify potential entry points and navigation behavior.
- Develop visual assets (DApps, Web3, Mobile first, Embark use, etc).
- Update Status logo on landingpage and favicon.
- Wirefram

[2018-07-27 09:35] andytudhope commented on #19
Let's get feedback from @rachelhamlin and @jeluard as well.

## User goals:
1. Build Status and get contributing as fast and easily as possible.
2. Learn more about development, testing, research at Status and how to get involved.
(long term: 3. Ultimate knowledge repository for Status Studio.)

## Potential entry points
Likely best to work off the two buttons currently on the page as the main ent

[2018-07-27 09:36] errorists opened #20 "Introduce deep linking UI"
Design UI and flows to allow sharing of deep links to chat channels, profiles and Dapps.

More on the topic https://wiki.status.im/Universal_Links

<blockquote><img src="/favicon.ico" width="48" align="right"><div><strong><a href="https://wiki.status.im/Universal_Links">Universal Links - Status Wiki</a></strong></div></blockquote>

[2018-07-27 10:19] andmironov commented on #4
moved the discussion to https://github.com/status-im/design/issues/19

[2018-07-27 10:19] #4 closed, assigned to andmironov

[2018-07-27 10:20] J12B opened #21 "Redesign https://status.im/open-positions.html"
**Current state:** we only have a list of jobs on this page (that is auto-populated based on information from our Applicant Tracking System, greenhouse).

**Ideal state:** We would like to have a "Contribute to Status" landing page that details our values, working style, perks/benefits etc. This landing page would either include (at the bottom) or link to the list of jobs. I created a draft versio

[2018-07-27 10:30] ceripower opened #22 "Create People Ops logo"
Would anyone be able to assist in making an avatar for the People Ops team, for the new blog content over at: https://our.status.im/author/peopleops/

We’re currently using Status’s organisational logo as our profile logo, but ideally we’d have something specific to the team.

We have no preference on what that avatar might look like.

Thanks!

<blockquote><img src="https://our.status.im/content/i

[2018-07-27 10:49] hesterbruikman opened #23 "RRR8 UX test chat and new command design"
### Research question
- How does the design chat experience compare to people's most used messenger experience?
- To what extent are people more successful in using the new command design than the current implementation, as observed in prior testing?
- What are potential areas of improvement?

### Approach
- In-person moderated testing
- Individual use
- Within subject comparison with most-used ap

[2018-07-27 16:37] Stefchi opened #24 "Handbook appeareance/redesign"
Could anyone help to get

https://handbook.status.im/

Aligned with our branding (as in https://status.im/ )? Would love for it to have the same appearance and fonts.

As we keep adding content, some navigation/UI advice would also be very welcome, to make sure the various sections are logically organized and easy to navigate.

<blockquote><div><strong><a href="https://sites.google.com/status.im/s

[2018-07-30 06:54] errorists opened #25 "Mentions in chat"
**What?**
Being able to mention somebody in a public chat. In a future, this should also happen in group chats.

**Why?**
So the user can easily indicate that is talking to a specific person within the same chat instance.

**Flow**
- UserA mentions userB in a public chat.
- UserB receives a notification (push, web) about the mention and takes action.

### SOME DEFINITIONS (WIP)

**- How is the exp

[2018-07-30 06:56] #5 closed, assigned to andmironov, errorists

[2018-07-31 06:31] #15 closed, assigned to errorists

[2018-08-02 20:40] obi2020 opened #26 "Explain anonymized names"
### User Story
As a user, I want to know why I and others appear in chats with random 3-word names so that I understand when/where my chosen name appears and what it means (anonymous or not).

### Issue Description

Issue Type: Misunderstanding

Observed behavior:

During onboarding the user is asked to create a display name and is told that this is the name by which "everyone" on Status will know

[2018-08-02 21:13] obi2020 commented on #26
@lukaszfryc we chatted about this in slack and I offer that maybe this screen during onboarding was a good place to explain this. It still may be, but insights show that users often don't read or don't retail this messages I opened this issue to see if we can explore either design-oriented solutions, or placement elsewhere in the flow cc: @EugeOrtiz

Sample updated copy:

![onboarding-display-name

[2018-08-03 02:08] PhilipandWu opened #27 "UX test - Transaction phrase testing"
Main discussion and implementation convo moved here:
https://github.com/status-im/status-react/pull/5824

**Research question and goal**

To solve the key highlighted issues related to transactions phrase identified in user testing (specific slide links included below):

* [users misunderstand tx phrase purpose](https://docs.google.com/presentation/d/1eJP-Hh4tN6XZREIy73GNuJP1LqGg41EvP5QpVlFZQ78/ed

[2018-08-03 08:05] lukaszfryc commented on #26
@obi2020 I think it's a great place to introduce the concept of anonymized names. I like the copy.

We may also think of some design changes around messages or user profile. Let's say I'm in public chat reading messages. First thing I notice are weird names like "Drab Jumbo Curl". I may think that those are bots or something. Maybe we could indicate here that someone is your contact by adding a co

[2018-08-05 03:25] alescode commented on #2
Hi guys, any estimated check date for this?

[2018-08-05 03:29] alescode commented on #1
Is the Open Bounty app working correctly? The pull request was merged, but the 5000 SNTs haven't been transferred.

[2018-08-06 10:23] hesterbruikman opened #28 "Redesign pattern connection status and errors"
QA found an issue in that the currently used grey snackbar covers part of the clickable UI.
https://github.com/status-im/status-react/issues/5371

### Design tasks (TBD)

- [ ] Short term: Define behavior of the current pattern such that it doesn't limit user actions. (e.g. fade out, close, dynamic position).
- [ ] Long term: Provide alternative patterns to indicate system Status (e.g. variations

[2018-08-06 11:21] denis-sharypin commented on #28
Hey, the current state of errors within the app:
![image](https://user-images.githubusercontent.com/6559881/43713902-1fa81c7a-9973-11e8-9dac-82d8ba9e215e.png)

[2018-08-06 11:23] denis-sharypin commented on #28
Also I found a design spec for UI prioritization:
perharps we can use it here as a short term solution
<img width="759" alt="screenshot 2018-08-06 12 22 25" src="https://user-images.githubusercontent.com/6559881/43714003-6e1714ec-9973-11e8-97e8-42552129a661.png">
 Link to Abstract https://share.goabstract.com/2d0b637a-3a41-4e74-9e60-ad689b4f3991

<blockquote><div><strong><a href="https://share.goa

[2018-08-06 13:49] pablanopete commented on #1
@alegw sorry for the slow response on bounty payout, could you drop your wallet address here so I can send you the bounty amount Out of Band while we wait on a dashboard fix in Status Open Bounty.

If you don't feel comfortable putting it here in the comment could you email a ERC20 compatible wallets address to me? chris.hutchinson@status.im

[2018-08-06 14:19] denis-sharypin commented on #26
I even think maybe this feature requires a standalone screen during onboarding? This feauture is based on our values and we could mention there something like "Status is anonymous by default" and outline the information about these names and that anyone can check your wallet address (and balance) if you add them as a contact.

[2018-08-07 08:28] lukaszfryc commented on #26
@denis-sharypin @obi2020 there is UXR session in the upcoming weeks. Maybe it's worth testing 2 versions of the mockup to see which one users understand? One with only copy and the other with standalone onboarding screen? cc @hesterbruikman

[2018-08-07 21:04] EugeOrtiz commented on #26
Hi all! We were exploring other moments in which we could explain/show the value of anonymous names. The main idea is to explain it **in context**. I think onboarding is not a good context to do it because during onboarding:

a) We have bigger things to communicate (how the app helps achieve our user's goals, welcome and excite users)
b) The user is not yet familiar with the app’s UI or the fact t

[2018-08-08 15:39] obi2020 commented on #27
Please see some copy options on [these slides](https://docs.google.com/presentation/d/1cM7poT4Nl-Ckxdt6GOlLc8r2MeiINEVlu5kAL0k0RWw/edit?usp=sharing)

cc @denis-sharypin

[2018-08-08 15:41] obi2020 commented on #27
I focused on one wallet setup screen and the sign txn flow. If there's another place I'm missing, please point to it! Or we can discuss further in our sync tmr

[2018-08-08 15:49] PhilipandWu commented on #27
@obi2020 There's also the copy at the send TX screen. It currently says secret transaction phrase so it should be updated too.

![38793894_2074409409298248_7524939043696541696_n](https://user-images.githubusercontent.com/40644582/43848410-dec085f0-9b00-11e8-8ae1-bcab7716eec8.jpg)
.

cc @denis-sharypin Also, should rearrange the visual hierarchy to reduce the chance that users think they have to re

[2018-08-08 15:51] errorists commented on #27
hey, just chiming in, it totally looks like the input is there to reenter emojis

[2018-08-08 15:53] PhilipandWu commented on #27
@errorists exactly, me and @obi2020 encountered the same issue where we thought we had to reneter emojis. Some users from our tests were also confused.

 I'm not sure what the best approach is (emojis on top so the input feed isn't directly underneath?), but I'm open to your thoughts and Denis we can chat about it in our sync tmrw.

[2018-08-08 15:57] errorists commented on #27
The more we do to visually separate them the better: change the order so that they're above the description, play with the border around them so that it's less similar to the rounded rectangle of the input, try a thin separator between to group them into two separate areas, I'm sure @denis-sharypin will think of more.

[2018-08-09 07:09] lukaszfryc commented on #26
@EugeOrtiz I like this in-context explanations. Btw, I imagine that pressing "Got it" will hide the button.

@hesterbruikman I think we should test it in the UXR session.

[2018-08-09 08:40] hesterbruikman commented on #26
Thanks for pinging @lukaszfryc

I have a lot of thoughts on the topic below. I totally support testing the feature and would love to take it along in a next round (likely early October) on Inviting friends (including ENS and universal links). Until then, I honestly think we have some work to do to find an optimal flow to test and compare with what we have now.

### Name sharing logic
There is some

[2018-08-09 09:23] lukaszfryc commented on #26
This is exactly how it works right now. Recipients see your name and avatar and you get to see theirs once they add you to the contact list.

@denis-sharypin @hesterbruikman I believe you can check someone's balance without being on their contact list. When I go to public chat, click on some user's avatar, start a conversation with her, add her as contact, then I can go to wallet and send transact

[2018-08-09 14:43] EugeOrtiz commented on #28
Please, let's think about this cross-platform (mobile + desktop) :-)
It would be great to also start differentiating what an error is vs confirmations, notifications, warnings, etc. They should be treated differently.

[2018-08-13 08:52] hesterbruikman commented on #2
Thanks for your patience @alegw and apologies for keeping you waiting! We are very happy with the work you did. It took some time for us to free up resources to continue work on this Invite friends flow ourselves and thereby properly assess your design input.

Here's feedback from the team on your proposal:

https://hackmd.io/5jB9lWyIQpO8lG1cyLR8oA

Thanks for your detailed and insightful contribu

[2018-08-14 07:26] alescode commented on #2
Thanks Hester! Glad I was able to contribute. Rock on!

[2018-08-14 07:27] alescode commented on #1
Emailed. Thanks!

[2018-08-17 04:04] pablanopete commented on #2
Sent payment!

[2018-08-17 04:05] pablanopete commented on #1
Payout sent!

[2018-08-19 20:05] obi2020 opened #29 "Clarify beta signup page for Android vs. iOS"
### User Story
[comment]: # (Please add [TASK] and/or [GOAL] with appropriate context)
As a user, I want to have a clear and direct path to participating in the beta testing program.

### Issue Description
Issue Type: Discoverability

Observed behavior:
https://status.im/success.html. I think all users are likely to blow right past the few lines of text and their eyes land on the form. Meanwhile,

[2018-08-19 20:22] obi2020 commented on #29
More context: at least one way users arrive at this page is after signing up at status.im, then clicking confirm email in their inboxes
<img width="1215" alt="screen shot 2018-08-19 at 4 19 29 pm" src="https://user-images.githubusercontent.com/3373750/44312802-e0341b80-a3cb-11e8-98b0-f40be22aa2a2.png">

[2018-08-20 13:51] EugeOrtiz opened #30 "Mentions @"
TBD

[2018-08-20 13:52] #30 closed, assigned to nobody

[2018-08-21 06:45] #20 closed, assigned to errorists

[2018-08-22 09:28] J12B commented on #21
Added comment: We'd likely also like a couple of subpages for the landing pages, to allow us to store important information (candidate privacy policies, information about the recruiting process, etc).

[2018-08-22 14:44] chadyj commented on #25
What about contact codes?  ENS usernames?

Also what if there are 5 `bob`'s in the channel?

[2018-08-22 15:34] Graeme-Code commented on #25
@errorists on your design are the messages underneath the randomized name the last message they sent?

[2018-08-23 07:01] errorists commented on #25
@Graeme-Code correct, I'm exploring options of adding further context to the names so that you can point to the right anonymised username with confidence. I'd be happy to hear other suggestions.

[2018-08-23 08:20] Graeme-Code commented on #25
I think its difficult because a randomized name is not the easiest thing to remember, a blocky image is not a great identifier as well, so to understand who I am addressing in a public chat requires more context and I think what you have done helps greatly.

Looking at the design and the problem of interacting with randomized names/images, it seems the solution is to look for context attached to t

[2018-08-23 11:13] artignatev commented on #20
Awesome! Tested it, works very well. Will be added to Eth2.io

How it looks:
![trust](https://user-images.githubusercontent.com/6490508/44522237-95bde200-a6de-11e8-9aa9-83d673b8026f.png)

[2018-08-23 12:18] errorists commented on #25
@Graeme-Code Agree, we'll be introducing replies first, here's the GHI https://github.com/status-im/status-react/issues/4608
With mentions I feel like we may want to address the root of the issue first, allowing users to choose if they want to use their own usernames or the randomised ones.

[2018-08-28 16:13] denis-sharypin commented on #20
@artyomignatyev  hey Artyom, please use the right logo of Status https://github.com/status-im/design-guides

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/design-guides">status-im/design-guides</a></stron

[2018-09-04 07:24] debragail commented on #2
Is this closed or still open?

[2018-09-11 00:19] pablanopete commented on #2
@andytudhope to be revoked, this bounty has been completed by @alescode

[2018-09-11 09:49] chadyj commented on #25
I like how Slack can do mentioned in 1-1 chats, eg so I can say to @errorists:`talk to @EugeOrtiz  about the design` and the app creates a link so that I can see her profile and start a chat with her. (but she obviously isn't pinged)

[2018-09-12 09:03] EugeOrtiz commented on #25
I uploaded some designs for desktop (Zeplin) 👉zpl.io/aw1KLXj
The main topic for discussion at this point I think is the **anonymous vs contact situation** and how complex it can get (or not).

@chadyj can we know who is in a channel if that person joined but never sent a message? Otherwise you will be able to mention (in a public chat) only people that wrote a message, right?

[2018-09-12 09:26] chadyj commented on #25
No

@cammellos Can you add some tech colour to how we should treat mentions?

Hmmm.... we also know people in contacts but also other chats. If I'm chatting in "#status" with personA, can I mention them in "#dapps"?

[2018-09-12 09:37] cammellos commented on #25
Just to add, we could also auto-complete with the list of the user own contacts.

In terms of technical implementation it does not seem to present any problem, seems just a matter of enriching the text message with metadata or use some sort of markup language (md,html etc), so the conversation to have is whether we want to use something already existing or rollout our own etc, but can always be ch

[2018-09-12 09:43] pedropombeiro commented on #25
Will there be some kind of affordance for mentions on channels? I.e. if I'm on the chat home page, will I see a different type of "unread" marker showing me that I was mentioned in a specific chat?

[2018-09-12 09:47] errorists commented on #25
@PombeirP good question! I'll look into it. Actually now that I think of it, I like the way Slack displays channel notifications: numbered badges are only used for mentions and channel names are just bolded for any new activity. I'd prefer that to our approach of counting every new message in the total counter.

[2018-09-12 09:59] errorists commented on #25
so maybe something like this

<img width="715" alt="screen shot 2018-09-12 at 11 57 53" src="https://user-images.githubusercontent.com/4932774/45417726-24d96c80-b683-11e8-8242-25ac3f5cf55f.png">

[2018-09-12 10:03] EugeOrtiz commented on #25
That wouldn't work on desktop, we use the highlight to show the current open chat. I'll try to also explore some options later.

[2018-09-13 10:59] lukaszfryc commented on #25
I'd never figure out that "2" means 2 mentions and blue color means unread channel. How about just having channel title in bold font when there are new messages? Something that Slack has?

[2018-09-13 11:00] lukaszfryc commented on #25
Other questions from my side:

1. I really think we should solve the problem of confusion with anonymous names first. It seems to affect this feature a lot. cc @chadyj @hesterbruikman

2. If I type “Tree” on the suggestion list, shall I see virtually all users in Whisper network with “Tree” in the name? Or maybe only users from all 1-1 and public chats I joined and my contacts?

3. What happens wh

[2018-09-13 14:45] errorists commented on #25
Yeah but this is exactly what Slack has, only the bold font (we already use it for titles) is substituted for a coloured background :) I get what you're saying, personally I see absolutely no utility in those numbered badges for public chats, mine are stuck on 9+ half the time. I'd much prefer a general new activity indication, but going the Slack route I figured we might as well use the badge for

[2018-09-19 17:20] hesterbruikman commented on #23
https://docs.google.com/presentation/d/10qb5jRXwRT9lYkxrn8Ui5Bov_JRuf1WBaPqSXd0ZAtY/edit#slide=id.g4107153e09_0_0

<blockquote><img src="https://lh6.googleusercontent.com/_vO60E7Z21r_Wt8D2EvcpUodrA1wl1klLexYshNEYeZK_zD30zGKxUXmt4JEUnlGwjOVjw=w1200-h630-p" width="48" align="right"><div>Google Docs</div><div><strong><a href="https://docs.google.com/presentation/d/10qb5jRXwRT9lYkxrn8Ui5Bov_JRuf1WBaPq

[2018-09-19 17:20] #23 closed, assigned to jpbowen, errorists, hesterbruikman, PhilipandWu

[2018-09-19 17:22] hesterbruikman commented on #27
As the conversation about how to follow up testing is taking place here: https://github.com/status-im/status-react/pull/5824

Can we close the UX testing issue @PhilipandWu ?

[2018-09-19 17:43] PhilipandWu commented on #27
@hesterbruikman yup! linked discussion in main thread as well.

[2018-09-19 17:43] #27 closed, assigned to PhilipandWu

[2018-09-19 18:09] hesterbruikman commented on #26
Sorry I've left this for so long. This is still the case and should be fixed. We'll start a design project shortly that can address this. So intertwined that I don't see a quick fix. As in theory it should be possible to send someone that is not a connection a transaction.

[2018-09-19 18:10] #2 closed, assigned to jpbowen, andmironov, errorists, denis-sharypin, hesterbruikman

[2018-09-19 18:20] hesterbruikman opened #31 "Propose alternative branding to replace logo"
### User Story
As a user I want the user interface to guide me in what I can and cannot interact with.

Description
Type: Branding

Summary: Propose alternatives ways to integrate `a feeling of Status` in the visual design of UI elements.

**Expected behavior**
Branding in the app is implicit and does not require non-functional elements such as the Status logo to be included for people to distingu

[2018-09-19 18:46] hesterbruikman opened #32 "Resolve Join vs Create Public chat confusion"
### User Story
As a user I want buttons and links in the app to do exactly what they say they do so that I can take better informed actions and are not faced with surprises.

Description
Type: UI / IA

Summary: Propose alternatives ways to show people that when they enter a topic they are in a way 'starting' this topic.

**Expected behavior**
When I enter a topic in the Public channel screen form

[2018-09-19 18:54] hesterbruikman opened #33 "Adjust copy to reflect where to Start public chat"
### User Story
As a user I want buttons and links in the app to do exactly what they say they do so that I can take better informed actions and are not faced with surprises.

Description
Type: UI / IA

Summary: Adjust copy to reflect current behavior of the links in [+] button menu.

**Expected behavior**
When I want to Start a new Public chat and can choose between `Join public chat` and `Start n

[2018-09-19 19:01] hesterbruikman opened #34 "Adjust content label 'Selected' in Join public chat"
### User Story
As a user I want labels to be unambiguous and reflect the content they describe.

Description
Type: UI / IA

Summary: Adjust copy of `Selected` to `Suggested topics` or alternative in `Join public chat` screen

**Expected behavior**
When something says selected I expect it to be selected by me or by the system for me and is in an `active` state.

Actual behavior
Selected in this cas

[2018-09-19 19:40] hesterbruikman opened #35 "Adjust copy enter contact code and add field label in [Start new chat]"
### User Story
As a user I want labels to be unambiguous and reflect the content they describe.
As a user I want to know what is expected of me

Description
Type: Copy / UI

Summary: There are compounding issues that keep people from being able to `start a chat with a new contact`. While looking for a long term solution within a larger design project, this issue should address copy in that it does

[2018-09-19 19:44] hesterbruikman commented on #35
Related to this issue are ideas around embedding the contact code in the profile such that it becomes more obvious to a user that if they have a QR code embedded in their profile others likely have this too; Therefore making it more natural to understand that one can scan a contact code to connect.

Further improvements on this  screen are replacing the slightly more abstract QR code icon with a c

[2018-09-19 19:58] hesterbruikman opened #36 "Add a Request new chat label to the input field Enter contact code or username"
### User Story
As a user I want labels to be unambiguous and reflect the content they describe.

Description
Type: Copy

Summary: Add a `Request new chat` label to the input field `Enter contact code or username`
Please note, this issue is heavily related to #33

**Expected behavior**
When I see a button that says `Start new chat` and I have someone's contact key I expect to be able to see their `

[2018-09-19 21:07] hesterbruikman opened #37 "Change Receive to Request throughout the app"
User Story
As a user I want labels to be unambiguous and reflect the content they describe.

Description
Type: Copy

Summary: While Receive is a convention in cryptowallets as it usually calls up the wallet address as a QR code, we discussed that in our case Request is more accurate in most cases and less of a problem in cases where it might not be a 100% fit.

**Expected behavior**
When in conver

[2018-09-19 21:14] hesterbruikman opened #38 "Add information icon to Network fee"
### User Story
As a user I want to understand where my money goes
As a user I want to trust that Status does not make money off me

Description
Type: Copy / UI / Branding

Summary: In spite of several trials with naming we have not found the ultimate way to describe `Network fee` a.k.a. `Transaction fee` a.k.a. `Transaction cost` in a way to keeps people from thinking that this money goes to Statu

[2018-10-10 06:53] errorists commented on #25
Mobile designs https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=144%3A233

<blockquote><img src="/file/aS1ct66VQ6V0cio7vSqS8UoG/thumbnail?ver=lpGWutcM13z6EwRWIcMj7o" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat">Figma</a></strong></div><

[2018-11-29 17:04] #8 closed, assigned to nobody

[2019-02-04 20:05] hesterbruikman opened #39 "UX expert review teller network"
Status is working on a peer-to-peer Teller Network DApp. This DApp intends allows people to exchange fiat-to-crypto. Making it easier for people to buy crypto. See also Status Teller Network on page 18 of the whitepaper: https://status.im/whitepaper.pdf

While iteration is ongoing for UI design and implementation. We are looking for a fresh pair of eyes to conduct a UX expert review on these flows

[2019-02-20 16:13] StatusSceptre commented on #39
To be bountied at a estimated time-frame of 12H once approved.

[2019-02-27 10:30] eswarasai commented on #39
@StatusSceptre -- When can I expect an approval on this? I'd like to get started on this one at the earliest possible, so that I'll have ample amount of time understanding the designs and testing out the implementation to provide detailed analysis. Thanks :)

[2019-02-28 15:32] StatusSceptre commented on #39
@eswarasai this one was reserved prior apologies for not putting in ticket. Would love your help on some other bounties as they show up though, thanks!

[2019-03-07 10:55] Sun-Spring commented on #39
working on the issue

[2019-03-18 14:40] Sun-Spring commented on #39
The first version of the review.
[UX Review v1.pdf](https://github.com/status-im/design/files/2978722/UX.Review.v1.pdf)

[2019-03-21 16:30] hesterbruikman commented on #39
This work was delivered with diligence and very helpful to us! Thanks @Sun-Spring @StatusSceptre can you perform some Gitcoin wizardry to pay out the bounty?

[2019-04-03 12:05] hesterbruikman commented on #39
@StatusSceptre this was great work by @Sun-Spring There is no PR to submit, the PDF doc in this comment thread is outcome of the work. What is required to close this issue and pay out the bounty?

[2019-04-17 13:49] StatusSceptre commented on #39
@hesterbruikman mind removing the approval label?  Cleaning up the board.

[2019-04-17 13:54] #39 closed, assigned to errorists, hesterbruikman

[2019-10-22 07:32] hesterbruikman opened #40 "Design Status node instructions"
## Project
### Objectives
* Make it easy for **anyone with a dedicated computer and Internet connection** to set up and run a Status node
* Inform people of technical requirements to run a node
* Inform people of any risks or benefits
    * Equipment costs
    * Bandwidth (network and storage)
    * Power
    * Regulations
* *Nice to have: Design incentives for people to run  a Whisper bootnode an

[2019-10-22 07:42] hesterbruikman commented on #40
- Proposed bounty amount
Not sure what units are used. @StatusSceptre can you advise based on estimate completion time?

- Estimated time to completion
32h

- Estimated required experience level
Anyone with mixed design/dev background

- Why we’re outsourcing it
Resource constraints / team focus on Product

cc for thumbs and rockets 🤗 @andmironov @oskarth @rachelhamlin @DanBigM

[2019-10-28 10:22] hesterbruikman commented on #40
Ping @rachelhamlin @danbigm @andmironov @StatusSceptre

[2019-11-05 17:08] corpetty commented on #40
This will be helpful, it is a WIP of my log so far with my node (it is a bit outdated as geth 1.9 came out:
https://notes.status.im/3Y__B0rAStqKLUOu__hBvw#

[2019-11-13 12:42] rachelhamlin commented on #40
@hesterbruikman I can't edit this repo - could you please add this to the Bounty Tracker project board? 🙏 (It's for accounting)

[2019-11-14 03:04] hesterbruikman commented on #40
@rachelhamlin added 👍

[2019-11-22 18:19] luisberns commented on #40
Hello everyone, I recently started working on this issue, until now I have all the process documented following instructions from [this blog post](https://our.status.im/bulletproofing-against-chaos-unicorns-with-status-on-arm/), a bootnode configured on my Linux machine (Ubuntu 19.04) and am planning some research with users.

For the research process, I intend to use initial documentation followi

[2019-11-25 10:21] rachelhamlin commented on #40
Hey @luisberns! Let me think of who can help you with this. Potentially @oskarth - do you think you could weigh in on this one?

afaik there aren't any improvements planned to this build process.

[2019-11-25 10:46] oskarth commented on #40
Thanks Luis!

Some initial work on this was done before, don't know where to find this off the top of my head. Best person would probably be @adambabik @jakubgs or @andremedeiros (Igor was doing some work on this). IIRC we had some Dappnode integration/instructions before as well.

As for improving this in general, I would love to see it done. Realistically it is up to Core and its priorities, but

[2019-11-26 12:49] luisberns commented on #40
Thanks for the replies!

I understand that implementing new improvements could be hard due to the priorities.

In respect of the documentation for the config files for the Status bootnode, is there any reference in that area? Or the config files are only necessary for the `statusgo` installation?

Cheers.

[2019-11-26 14:08] jakubgs commented on #40
Currently there's several `run-*` targets in our `Makefile`:
https://github.com/status-im/status-go/blob/464c30a4/Makefile#L301-L314
You're probably most interested in `run-bootnode-docker`, but that is the most neglected one as far as I know. It essentially just runs targets from this `Makefile`:
https://github.com/status-im/status-go/blob/develop/_assets/compose/bootnode/Makefile
And it almost m

[2019-11-26 14:10] jakubgs commented on #40
The reference for the configuration is the code itself:
https://github.com/status-im/status-go/blob/develop/params/config.go

[2019-11-28 19:29] luisberns commented on #40
Thank you @jakubgs I'll check those links!

[2019-11-29 00:04] jakubgs commented on #40
I've implemented a way to run a bootnode via systemd in: https://github.com/status-im/status-go/pull/1709

Please check out the `run-bootnode-systemd` branch and see how the `Makefile` located under `_assets/systemd/bootnode` works for you. Please report any issues in that PR.

[2019-12-04 12:45] jakubgs commented on #40
@luisberns I have merged https://github.com/status-im/status-go/pull/1709 so you can base your work off of those changes. The [BOOTNODE.md](https://github.com/status-im/status-go/blob/develop/BOOTNODE.md) file should be the starting point.

[2019-12-09 16:44] luisberns commented on #40
Hello, @jakubgs I spend this weekend working with the systemd installation file that you included in the repository.

I found that using the systemd method could make the flow way easier for the user, thank you for that!

## How I got to run the bootnode in my machine
Even with the problems that I'll describe bellow I could get to run the bootnode in my machine, I changed the `SERVICE_DIR` variabl

[2019-12-09 21:04] jakubgs commented on #40
I'm not sure why you are trying to run that with `sudo`. None of the instructions I wrote indicate that it should be run with `sudo`. I intentionally made it run as a user service under `systemd` to make the setup simpler. What reason do you have to run it as a system service rather than a user one?

Also, you said that:

What does that mean? Service isn't running from that directory, the current

[2019-12-09 21:50] luisberns commented on #40
The reason why  was running the process with sudo is, I'll state the steps that I followed to come to the actual moment:

1. Made a pull from Git to update the code that you added in the repo. Tried to run `make run-bootnode-systemd`. Output:
[code]
2. Tried again, but this time with with sudo, `sudo make run-bootnode`. Output:
[code]
3. Added `genkey` to the `all: ` task in the Makefile (I don't

[2019-12-09 23:10] jakubgs commented on #40
You're right, the `genkey` target was missing from `all`. Good catch, fixed in: https://github.com/status-im/status-go/pull/1728

But don't use it with sudo. Clean it up with `make clean` in the folder and try again.

[2019-12-11 16:42] luisberns commented on #40
@jakubgs I was trying to redo the process without sudo but once again I was getting permissions errors so I installed a new Ubuntu 16.04 LTS on a Virtual Machine for doing the process from a clean state.

I want to confirm with you some things:
- Can I do this process in a virtual machine like this?
- What are the other distros that I could use and that will be needed in the documentation?

Also,

[2019-12-12 11:29] jakubgs commented on #40
[code]
Wrong.

By default the `GOPATH` is set to `~/go` and does not need to be changed:
[code]
And package sources are expected to be available under `src`, so if your package is from:
https://github.com/status-im/status-go
Then running this:
[code]
Should get you:
[code]

[2019-12-12 11:32] jakubgs commented on #40
[code]
This is just a warning caused by [this line](https://github.com/status-im/status-go/blob/52dd835692a65d6f5937c505d9c1e3ec8650ca25/_assets/systemd/bootnode/Makefile#L23) in the `Makefile`, because before you run the setup process for the first time the `/var/tmp/status-go-boot` doesn't exist yet. That can be ignored. Although I might want to look at suppressing it. It's using `=` which is "l

[2019-12-12 11:33] jakubgs commented on #40
Why not? If it has either Docker or systemd  it shouldn't matter. Part of the point of virtual machines is that on the inside they seem like a normal host on normal hardware.

Ones that have either Docker or systemd.

[2019-12-12 12:16] hesterbruikman commented on #40
@jakubgs @luisberns thank you both for all the progress on this issue! Per @luisberns suggestion, shall we have a call to go over the first version of documentation?

Related development: a survey among core contributors showed that obtaining a static IP address from an ISP is a potential blocker for a number of people to run a node. Therefore, as a starting point, it would be great to complete a

[2019-12-16 02:09] luisberns commented on #40
@jakubgs Thank you for your replies and recommendations!

When I started working with the bounty I was using [this Status blog article](https://our.status.im/bulletproofing-against-chaos-unicorns-with-status-on-arm/) as a reference where changing the `GOPATH` was one of the steps for running a bootnode was to redefine the `GOPATH` to the status-go folder.

I repeated the installation process witho

[2019-12-16 06:07] jakubgs commented on #40
I think you are using old go version. And your user is not in the `docker` group.

[2019-12-16 09:17] PombeirP commented on #40
@luisberns Can you please try running `docker system info` to see if you're able to connect to the Docker daemon? It doesn't look like Docker is running on your machine.
Also, remember to clone status-go to the right location under `GOPATH`, as mentioned [here](https://github.com/status-im/design/issues/40#issuecomment-564968730)

[2019-12-16 17:05] luisberns commented on #40
I made a mistake in the process above that the git repository was cloned to the `$HOME` path. I corrected it using [this orientation](https://github.com/status-im/design/issues/40#issuecomment-564968730) in the following way:
[code]
**Success, now I got to run the Status Bootnode with systemd!** 🎉

I'll update the steps for installation and post here on the issue as well.

---

For the docker inst

[2019-12-16 17:09] luisberns commented on #40
Thank you Pedro, I could run with systemd now!!

I wasn't able to connect to the docker demon before, I added the docker
group and I could run, still with an error though I updated the issue with
a new error that I got from the docker method.

On Mon, Dec 16, 2019 at 6:17 AM Pedro Pombeiro <notifications@github.com>
wrote:

--
Luís BernsUX Designer & PM
------------------------------
louisuntitled

[2019-12-16 22:28] jakubgs commented on #40
Ah yes, that's because I implemented the `-genkey` flag but never pushed the updated image. I did it using `make bootnode-image` and pushed it to Docker Hub. You should now be able to get it to work.

The [new image](https://hub.docker.com/layers/statusteam/bootnode/latest/images/sha256-fa44d1c7231def2c1786552cb6ceff8e4c7c872100da220c2e3a2c9241844095) now has the missing flags:
[code]
If it doesn'

[2019-12-20 15:38] luisberns commented on #40
Hello everyone!

As we agreed in the call on Wednesday this is the link for the documentation that we'll revise and comment on: https://notes.status.im/WJqu-tZoRtqVRO61Ic4NxQ

This week I started doing some research with developers to test the documentation and I'll edit when needed until Monday, after that I'll wait for comments/suggestions/critics on the note before changing anything.

[2019-12-20 15:43] luisberns commented on #40
@jakubgs After I install the bootnode on my linux machine I ran `systemctl --user status bootnode` and turns out that the service failed to install, I'll paste here the output, do you have any clue why that happened? What can I do to fix it?

Output of `systemctl --user status bootnode`:

[code]

[2019-12-20 16:40] jakubgs commented on #40
Check logs:
[code]
Why did it fail?

Also, try running the command by hand to see the full error. Though you might have to adjust the `-c` option to use an absolute path. This has been already fixed in https://github.com/status-im/status-go/pull/1753 along with addition of some new checks.

My guess would be try you are trying to run both a mailserver and a bootnode on the same port.

[2019-12-24 17:04] luisberns commented on #40
# Async review
Last week I did some research with people to validate the documentation - if you wish to view a more detailed report [access here](https://www.notion.so/luisberns/User-test-587b8d05e99347179720c2c8d0628abd) - after finding some things to improve I updated the note:
- [link to docs to review](https://notes.status.im/WJqu-tZoRtqVRO61Ic4NxQ)

[2019-12-24 17:07] luisberns commented on #40
@jakubgs the problem that I comment previously it was indeed the port problem. I stopped the Docker container and restarted the Bootnode service and it was activated properly.

[2019-12-24 20:30] jakubgs commented on #40
You can setup the service on a different port by setting the `LISTEN_PORT` variable, which by default is set to `30303` for both:
[code]

[2019-12-24 20:33] jakubgs commented on #40
Weird, because I thought the docs made it pretty clear, from [`MAILSERVER.md`](https://github.com/status-im/status-go/blob/develop/MAILSERVER.md):

Maybe it should be:

[2019-12-24 20:41] jakubgs commented on #40
Updated the wording in https://github.com/status-im/status-go/pull/1755 which also allows for running the `systemd` service as a system rather than user service.

[2019-12-30 14:58] hesterbruikman commented on #40
Great work @luisberns !

I went into the notes doc :
- Added a general intro
- Made some grammatical edits.
- Replaced the reference to `Bootnode` with `node` and occasionally `Status node`, with the intro explaining there are different types of nodes in layman's terms.
- Added high level steps (1. Get the recommended device, 2. Install required software, 3. Install node, 4.  Configure node, 5.  S

[2019-12-30 16:01] jakubgs commented on #40
Doesn't sound like a good change to me. Status node and a bootnode are different things. Normal users that just want a service to relay their messages don't need a bootnode at all.

---

There are 2 ways available. Docker container and systemd service:

* [systemd](https://en.wikipedia.org/wiki/Systemd) - This is what is called an [init process](https://en.wikipedia.org/wiki/Init) which is the fir

[2019-12-30 16:13] jakubgs commented on #40
Oh yeah, and happy new year.

[2020-01-06 11:39] hesterbruikman commented on #40
#### Terminology

@jakubgs This is mostly why I want to remove the reference to bootnode I don't think it makes sense to beginners only wanting to fetch and send messages through their own node and get familiar. In this list of Small, Medium, Large, does either classify as a bootnode or is it a different category altogether?

`SMALL - Messaging only, for personal use (a.k.a. Mailserver or History

[2020-01-06 12:41] jakubgs commented on #40
I don't think so. The only purpose of a bootnode is letting nodes know about other nodes. It's a digital matchmaker if you will. I'd agree with not posting instructions about running it yet, since it can only confuse people.

And the `LARGE` option in that list doesn't make sense, because I don't believe our app has an option to use something else than Infura for transactions right now.

Probably.

[2020-01-06 16:29] hesterbruikman commented on #40
Added it to the `Types of nodes` and the [comparison table.](https://notes.status.im/WJqu-tZoRtqVRO61Ic4NxQ?both#What-you-need-to-run-a-node) for context. Assuming a bootnode needs a static IP, router configuration, stabel internet connection, but **no significant storage space**.

Added a note: `LARGE is currently not usable with Status  until the number of available Large nodes reaches a critica

[2020-01-06 16:35] hesterbruikman commented on #40
fyi: added a reference to https://discuss.status.im/c/messaging-network as a forum to discuss issues during installation.

[2020-01-06 16:37] luisberns commented on #40
Happy new year y'all!

---

@hesterbruikman I added the instructions for adding the ENODE address in Status app. I think we could add some screenshots to make easier for people to configure the Bootnode on the app. But the most important thing on this process is the ENODE address, is it possible to collect the ENODE address besides when is logged on the terminal in the installation process?

Also,

[2020-01-10 14:53] hesterbruikman commented on #40
Thanks for these updates @luisberns @jakubgs should the enode address be added to both Profile > Settings > Advanced > Bootnode as well as Profile > Settings > Sync settings > Mailserver

I'm assuming that setting it as bootnode only makes sense if you have a static IP address, and else it's best left disabled in bootnode settings, is that right?

[2020-01-10 16:16] jakubgs commented on #40
Bootnode should go to Bootnodes and Mailserver(History node) should go to Mailservers.

But as I said, normal users should never have to run a bootnode. We really should stop talking about that.

[2020-01-10 17:50] hesterbruikman commented on #40
fyi @luisberns trial of the documentation is underway while we smooth over the above details: https://discuss.status.im/t/get-your-node-running/1488/3?u=hester

[2020-01-21 21:10] hesterbruikman commented on #40
@luisberns can you please check if there's any additional information in this notes doc that's worthwhile to incorporate or link to? https://notes.status.im/A0VSe1h2SD2ED_95Zy6AEA?view#Installing-Status

Other than that I think we're as ready as can be to add the manual to status.im. @jakubgs do you think this could be an update of https://github.com/status-im/status.im/blob/develop/source/technic

[2020-01-21 21:35] jakubgs commented on #40
Yeah, the `run_status_node.md` is probably the right place for this. No need to rename it.

[2020-01-23 02:47] luisberns commented on #40
@hesterbruikman for our doc, as we also instruct how to add the ENODE addr in the Status app, I think would be interesting to add how to obtain aswell.

I updated the content in the notes, can you check? - https://notes.status.im/WJqu-tZoRtqVRO61Ic4NxQ?view#Obtain-your-ENODE-address0

[2020-01-23 09:22] jakubgs commented on #40
[code]
Or even simpler:
[code]
It should show up right after setup too. Though now that I think about it we should include the password in the enode address. Here's the change: https://github.com/status-im/status-go/pull/1811
Also added showing as QR code if `qrencode` is available in that PR.

[2020-02-10 13:42] luisberns commented on #40
@jakubgs I was waiting for the PR to be accepted before updating the docs. I just updated the description of how to generate the ENODE address as well as the QR Code.

[2020-02-10 14:18] hesterbruikman commented on #40
Thanks @luisberns ! Walked through the process over the weekend and the option to generate a QR code will make such a difference. Copying manually is a really error sensitive approach:S

Cross-posting here what I wrote on our discuss forum. https://discuss.status.im/t/get-your-node-running/1488/19?u=hester

I ran into issues at the last step and I think it has to do with setting a password, which

[2020-03-20 09:44] hesterbruikman commented on #40
[Latest version of the manual](https://notes.status.im/WJqu-tZoRtqVRO61Ic4NxQ?view) posted here for visibility: https://discuss.status.im/t/get-your-node-running/1488/22?u=hester

Made a great step forwards in making it more accessible for the average user to set up a node. @luisberns Thanks for your work on this, and your patience! This issue spanned way beyond the Dec/Jan timeframe I had in mind

[2020-03-20 09:44] #40 closed, assigned to nobody

[2020-03-31 03:44] luisberns commented on #40
Thank you @hesterbruikman, it was nice doing this bounty and I'm available in case of other opportunities!

[2020-05-27 16:08] hesterbruikman opened #41 "Dapp design to redeem crypto"
## Background
Status' Keycard team is working on a crypto redeem dapp. The purpose of this dapp is to allow distributing ERC20 tokens and NFT's. The benefits of the approach:
- No wallet needed from recipients. Funds can be distributed on Keycard or burner wallets. This is great for people who are new to crypto
- Limited to no action needed from recipients when distributing funds (i.e. receiving a

[2020-07-02 09:57] nightwolf3 commented on #41
Hello. I never used Figma, I read it was like adobe XD or sketch. Why would we need to be added to your team, isn't there a free version to support rocket web3?
and how can we contact you to be added it not? telegram, discord? thanks in advance

[2020-07-07 08:35] StatusSceptre commented on #41
👋 Hi @writeprovidence, you're approved to start the work! Thanks for your interest, I look forward to seeing your work. Please let me know if you need access to any of the files in the description. You can also reach me on Status, ENS name 'hester' https://join.status.im/u/hester.stateofus.eth

[2020-07-07 10:42] writeprovidence commented on #41
Thanks for the approval@StatusSceptre, looking forward to working with you.

[2020-07-09 11:17] gulyasbence commented on #41
Congrats @writeprovidence!

@StatusSceptre by any chance is it possible to work on this voluntarily without compensation? I'm a UX designer and researcher and I would like to gain some experience with dapps. This looks like a well-defined task to start with :)

[2020-07-10 07:22] hesterbruikman commented on #41
Hi @gulyasbence! Good to see you here ☺️

Let me see if we have any other projects that would make a good fit. Agree that 'well-defined' makes all the difference.

[2020-07-10 12:47] gulyasbence commented on #41
Hey @hesterbruikman! Thanks for checking, I really appreciate it.

[2020-07-13 16:36] hesterbruikman commented on #41
Hi @writeprovidence, can you let me know when you pan to start work? I think it would make sense to have a quick call to handoff requirements.

[2020-07-13 21:40] writeprovidence commented on #41
@hesterbruikman thanks for reaching out. i would be love to start work in two days time.

[2020-07-15 09:00] guylouis commented on #41
a call before the end of the week (17/07)  would be ideal indeed !

[2020-07-16 05:12] writeprovidence commented on #41
@guylouis okay

[2020-07-17 08:20] hesterbruikman commented on #41
Is today before 3PM CET an option for you @guylouis @writeprovidence @johnlea-quiup?

cc @gravityblast

[2020-07-17 08:49] John-44 commented on #41
@hesterbruikman anytime before 3PM CET works for me.  I've got another meeting starting at 3PM CET though.

[2020-07-17 09:22] guylouis commented on #41
same as John :)

[2020-07-17 12:42] hesterbruikman commented on #41
@guylouis I think we'll need to postpone this to next week. Do you have any things you want us to address? (cc @gravityblast,I think it'll be helpful if you can join. Does Tuesday 4pm CET work for everyone? @gravityblas @johnlea-quiup @writeprovidence?

[2020-07-17 12:44] John-44 commented on #41
That time works for me.

[2020-07-17 12:50] writeprovidence commented on #41
@hesterbruikman yes Tuesday 4pm CET works for me

[2020-07-17 13:27] guylouis commented on #41
nothing special for me to address, the goal is really to provide context and answers to @writeprovidence :)

[2020-07-20 10:27] hesterbruikman commented on #41
@writeprovidence can you please dm me your emailaddress on Status so I can send you an invite for the call? In any case I'll share you a Google hangouts link there

[2020-07-20 10:28] hesterbruikman commented on #41
@gulyasbence sorry for the delay. Still on my mind to detail and offer another bounty. You'll be the first to know when there's a clear scope of work!

[2020-07-20 10:29] writeprovidence commented on #41
okay

[2020-07-20 10:33] writeprovidence commented on #41
@hesterbruikman , i just did. i hope you have seen it.

[2020-07-21 08:20] hesterbruikman opened #42 "Dapp design Sticker submission"
## Background
The Status app supports sending and receiving stickers in chat. Users can purchase and install various stickerpacks in what is called the Sticker Market. Creators can offer stickerpacks on this market at their own price, and earn Status Network Token (SNT) whenever a user purchases their pack.

At time of writing, all proceeds go to the creator. The smart contracts developed for this

[2020-07-24 09:50] hesterbruikman commented on #42
@3esmit @j-zerah would appreciate your review on this bounty for sticker market submission dapp design. I think this will need to be pretty waterfall. Design first, followed by a bounty for development as I don't see us having capacity to implement at the moment. Therefore, @3esmit it would be great if you can be involved to review if the proposed design is technically feasible

[2020-07-30 15:26] hesterbruikman commented on #41
Please shout if you need anything or have any questions @writeprovidence !

[2020-07-30 15:27] hesterbruikman commented on #42
@gulyasbence looking to turn this into a similar bounty on Gitcoin than #41 Would you be available and interested in working on this?

[2020-07-30 15:57] writeprovidence commented on #41
okay@hester

[2020-07-31 05:36] gulyasbence commented on #42
@hesterbruikman thanks for the ping! Yeah, I'd be interested however the timing is not the best since I can't pick this up until September. If that works let me know otherwise I'll just wait for another in the future :)

[2020-07-31 07:46] hesterbruikman commented on #42
That works:) The team is a little short on time to support at the moment as well. Let me ping you here start of September and we can pick things then

[2020-08-11 16:07] guylouis commented on #41
@writeprovidence hey!
please let us know if everything is clear on your side, if you need anything else from us to progress, and if you're still up for this bounty!
Thanks

[2020-08-11 21:49] writeprovidence commented on #41
@guylouis I am cool for now , as i have already started working on the task rounding up with the low WiFi and have already  set up the work space on figma. i will reach out when i progressed.

[2020-08-22 22:28] writeprovidence commented on #41
@guylouis @gulyasbence @johnlea-quiup @hesterbruikman i sent a figma invite to checkout my progress so far and also feedback. pls check it out on figma via the invited link.

[2020-08-22 22:28] writeprovidence commented on #41
thanks

[2020-08-24 07:51] hesterbruikman commented on #41
Thanks for the update! Left some comments on Figma. Please let me know if you have any questions on those

[2020-08-24 07:53] writeprovidence commented on #41
okay, Thanks

[2020-08-25 15:55] hesterbruikman commented on #42
@gulyasbence hope you are well! Would you still be available in the coming weeks? If you can get started within the next two weeks I'd like to plan a call to walk through the design brief

[2020-08-25 22:04] gulyasbence commented on #42
Thanks for the follow-up @hesterbruikman! I'm back on track next week, would be happy to work on this. I'm good for a call from Monday onwards.

[2020-08-27 11:29] hesterbruikman commented on #42
Great! Planning for Tuesday afternoon CET. Can you dm me your email address on Status @gulyasbence? You can find me here: https://join.status.im/u/hester.stateofus.eth

[2020-08-28 13:53] guylouis commented on #41
hey emmanuel, I suggest a call to chat about your designs. We have made the steps more detailed to further help you with the design.
https://docs.google.com/document/d/12qiQiZy49vOfIr6ZHe0JzUwYShKSfdu3II7PJT5FQ4c/edit#

Would be worth discussing them, would tuesday 1 sept work ? my email to set that up: guylouis@status.im

[2020-08-28 15:05] writeprovidence commented on #41
@guylouis thanks for the feedback, Tuesday is cool. I have gone through the update documents and i will iterate on them.

[2020-09-01 09:55] guylouis commented on #41
hey! how can we be in touch to decide on a date/time for a chat?

my details
email:guylouis@status.im
status:guylouis.stateofus.eth
status discord community server (use keycard channel): https://discord.gg/ZJDejc

[2020-09-01 15:43] writeprovidence commented on #41
Hello @guylouis, i just sent you an email. thanks

[2020-09-03 09:13] hesterbruikman commented on #42
Hi Bence, I send you an invite to our teamm Figma. Are you well set up with access?

[2020-09-03 09:28] gulyasbence commented on #42
Hey!
Yep, got it, I can access it. Thanks!

[2020-09-09 13:25] guylouis commented on #41
@writeprovidence
any update ? let us know if the call last week helped you to progress or not
Thanks !

[2020-09-09 14:22] writeprovidence commented on #41
@guylouis yes still making some iterations, will update you when am done.

[2020-09-09 15:33] gulyasbence commented on #42
@hesterbruikman
Hey Hester, I designed the first iteration of the Sticker DApp; you can find it in Figma.
Should we schedule a call for next week to talk about it? Of course, if you have some comments in the meantime, let me know 😊
Thanks!

[2020-09-09 15:54] hesterbruikman commented on #42
Great! I'll take a look. Does a call on Tuesday afternoon work for you? Say 3pm CET, same as last week?

fyi, having some account issues with bounty assignment after having put of funding due to gas cost. Definitely on my mind I'll sort this out asap.

[2020-09-09 16:47] gulyasbence commented on #42
Yes, Tuesday (the 15th) 3pm CET works.

Thanks for the update on the status of the bounty.

[2020-09-11 15:24] writeprovidence commented on #41
@guylouis I have made some new update in figma, pls take a look.

[2020-09-14 04:57] guylouis commented on #41
Yes, I saw this. Leaving comments there directly.
Great progress @writeprovidence !

[2020-09-14 09:35] writeprovidence commented on #41
okay thanks.

[2020-09-15 15:26] hesterbruikman commented on #42
### Recap from our call
* Great progress @gulyasbence! Following brief, seems straightforward to implement. Thanks for walking through your work.
* @j-zerah Do you think there is a demand for a sales limit on sticker packs to create some exclusivity? It was an idea 2 years ago. @3esmit anticipates this would take about an hour to change in the contract if it's something that adds value
* @errorist

[2020-09-15 16:06] gulyasbence commented on #42
Thanks for the call @hesterbruikman and @3esmit, great to have more insights on how things work on the backend :)

I'm gonna work on the following UI changes:

**Dashboard:**
- No wallet connected state

**New sticker pack form**
- Instead of ETH address, ENS name is also possible to receive SNT
- Small helper tooltips for the "Limited sticker pack" and "Status Network contribution" labels to give

[2020-09-15 21:59] j-zerah commented on #42
@hesterbruikman @gulyasbence  - I think exclusivity would be great. if it is not too much effort, then lets do it. What would this look like in the UI? And would it be possible to increase supply later on?

[2020-09-16 07:37] gulyasbence commented on #42
@hesterbruikman I've made the changes and polished the UI here and there. Let me know what you think once you have some time to look at it.

[2020-09-16 15:57] errorists commented on #42
@gulyasbence hey man, just wanted to say I love the work you did, I think you improved upon my earlier design significantly. Looking forward to seeing it live!

[2020-09-16 16:02] writeprovidence commented on #41
@guylouis New update, please take a look

[2020-09-16 18:14] gulyasbence commented on #42
@errorists Glad to hear it, Maciej! I used your design as a foundation, helped me a lot :)

[2020-09-17 12:23] hesterbruikman opened #43 "Dapp implementation sticker submission"
## Assignment
Develop a dapp that allows creators to submit stickers that Status users can purchase and install for use in Status chat. Design for the dapp is available on [Figma](https://www.figma.com/file/lMpgC70Xzw45L2VFgCd6jb/Status-Stickers-DApp?node-id=75%3A459).

Stickers are submitted by writing to the contract, details for the contract can be found [here](https://github.com/atlassian/reac

[2020-09-18 11:21] writeprovidence commented on #41
@guylouis still waiting for your feedback
thank you

[2020-09-20 22:44] writeprovidence commented on #41
Hello Guylouis, a new update on the redeem Dapp design. please take a look.
waiting for your feedback.
Thanks

On Mon, Sep 14, 2020 at 5:57 AM guylouis <notifications@github.com> wrote:

[2020-09-23 21:23] hesterbruikman opened #44 "Dapp implementation sticker market submission"
## Assignment
Develop a dapp that allows creators to submit stickers that Status users can purchase and install for use in Status chat. Design for the dapp is available on [Figma](https://www.figma.com/file/lMpgC70Xzw45L2VFgCd6jb/Status-Stickers-DApp?node-id=75%3A459).

Stickers are submitted by writing to the contract, details for the contract can be found [here](https://notes.status.im/Q-sQmQbpT

[2020-09-29 12:38] hesterbruikman commented on #42
Hi @gulyasbence Hope you are well! Apologies for the late notice. I suggest to move our call. I set up a bounty on Gitcoin for implementation of the design https://gitcoin.co/issue/status-im/design/44/100023770 As I expect it will not take too long to find someone, I suggest to wait for this person to join for the most efficient use of all our time.

If you know of someone who would be interested

[2020-09-29 13:32] gulyasbence commented on #42
Hi @hesterbruikman! All good here, hope you're good too :) Alright, let's move the call until we have someone who can work on the implementation. I'll ask around.

I also saw that you've set up the bounty for this project too, should I sign up for that?

FYI, I'm moving to Mexico from the 1st of October for half a year so I'll be in GMT-6 time zone; future calls between 3-6 pm CET would be perfect

[2020-09-29 13:44] hesterbruikman commented on #42
Ooh wow, safe travels! That sounds awesome. For the bounty on this issue, it's assigned to you, no need for action from your end on that. We should be able to wrap up soon and I'll handle the payout

[2020-09-29 14:31] gulyasbence commented on #42
Alright, sounds good. Thanks!

[2020-10-01 15:27] #43 closed, assigned to nobody

[2020-10-01 15:27] hesterbruikman commented on #43
replaced by #44

[2020-10-01 15:41] hesterbruikman commented on #42
Great work on the updates @gulyasbence ! Sorry for the delay in going through the changes. I'll tag you on the implementation issue. Our dear ambassador @tbenr is taking this on.

@3esmit I recall there was a technical constraint in not being able to set a limit if the price is set to 0. Is that because there would not be a contract call to keep track of the limit? If so, @gulyasbence I think it's

[2020-10-01 16:02] 3esmit commented on #42
Free sticker packs are not mintable, a upgrade on the smart contract could allow.

[2020-10-02 10:18] hesterbruikman commented on #44
@tbenr You're approved on Gitcoin to start the work 💪. Happy to see you're available to work on this! Please meet @gulyasbence who delivered the [designs](https://www.figma.com/file/lMpgC70Xzw45L2VFgCd6jb/Status-Stickers-DApp?node-id=75%3A459) (and vice versa 😊). I'd like to set up a call with you both to introduce and hand off the design for implementation. Unfortunately, I will be out for 2 week

[2020-10-02 11:05] gulyasbence commented on #44
Hi @tbenr, let me know here or tag me in a Figma comment if you have any questions about the design. Happy to help!

@hesterbruikman, a call on the week of Oct 19 sounds good from my side. If we can schedule it sometime between 3-6 pm CET I would appreciate it. If it doesn't work for any of you I'll make it happen anyways.

[2020-10-02 14:22] tbenr commented on #44
@gulyasbence hi!! nice to work with you. I already had a look to figma, looks good at a first view. I'll ping you there when required.

@hesterbruikman @gulyasbence 19 Oct is ok for me but i prefer at 18:00 (6pm) CET.

[2020-10-02 14:24] tbenr commented on #44
forgot a question for @hesterbruikman : should i consider this https://ropsten.etherscan.io/address/0x6CC7274aF9cE9572d22DFD8545Fb8c9C9Bcb48AD#code as the reference SC?

[2020-10-02 16:00] hesterbruikman commented on #44
@tbenr the addresses should be captured here, at the bottom of the doc: https://notes.status.im/Q-sQmQbpTOOWCQcYiXtf5g#

If that's not what you're looking for, hopefully @3esmit can point you in the right direction

[2020-10-02 16:06] tbenr commented on #44
@hesterbruikman I haven't noticed you fixed the link issue on the description :). Thanks, this is what I need!

[2020-10-10 16:15] tbenr commented on #44
@gitcoinbot going to publish a repo soon

[2020-11-09 16:17] hesterbruikman commented on #44
Hi @tbenr ! How are you getting on with this issue? I feel like my last message may not have arrived :/

[2020-11-09 18:01] tbenr commented on #44
Hi @hesterbruikman I'm progressing but slower than expected. No last message is not arrived, was on Status?

[2020-11-09 18:04] hesterbruikman commented on #44
I believe it was on Status, yes. But I also have bad memory and when multitasking may have not hit send. Definitely a possibility.

Would a call help in any way? Any questions or issues you're running into?

[2020-11-09 19:05] tbenr commented on #44
@hesterbruikman I'd like to have a quick one yes, i have a couple of things to discuss while I can share with you current progress. Tomorrow afternoon (from 18 CET)?

[2020-11-10 08:50] hesterbruikman commented on #44
Great! Sent you an invite just now for 18 CET

[2020-11-10 14:53] gulyasbence commented on #44
@tbenr @hesterbruikman if there's any question about the design, I'm around and can hop on the call if needed.

[2020-11-10 15:25] hesterbruikman commented on #44
Thank you @gulyasbence! Added you to the invite as optional

[2020-11-10 22:26] gulyasbence commented on #44
@tbenr I updated the UIs in Figma with the following:

**Category select**
- I used this component: https://material-ui.com/components/selects/#multiple-select
- This input should be default empty with a placeholder: uncategorized; the form can be submitted without selecting a category
- For now, we agreed that it's gonna be a predefined list; the user can't add new categories

**Error states**
-

[2020-11-11 16:42] hesterbruikman commented on #44
- Dapp is developed with a combination of Typescript + [web3-react](https://www.npmjs.com/package/web3-react)
- UI is is build with a somewhat customized Material UI style (to confirm to the design)
- Dapp can functionally, interact with contract on Mainnet and testnet (Goerli), wallet connection tested in Status and MetaMask
- Analytics bar on Dashboard is not feasible at this time. Nr of Sticker

[2020-11-12 10:31] hesterbruikman commented on #44
@tbenr here's a list of categories. Assuming that the list can be edited as long as the hash mapping stays the same for existing categories:
- adult
- animals
- cartoons
- crypto
- events
- food
- love
- sport
- travel
- other

[2020-11-30 16:31] hesterbruikman commented on #44
@tbenr how is this going? Is a call helpful for you at this point?

[2020-12-01 11:15] tbenr commented on #44
Hi @hesterbruikman ! I'm progressing slowly TBH, I really would like to close it during December \ Christmas-holidays.
I'll keep you informed once it makes sense to setup a call. Let me know if its becoming too late for your planning.

[2020-12-08 17:41] StatusSceptre commented on #42
@gulyasbence can you please take a look and see if you can apply to this issue on Github? I can't process the payout through Gitcoin otherwise. Please let me know if you run into issues. If not we'll find another way

[2020-12-08 20:56] gulyasbence commented on #42
@StatusSceptre Not sure if I can apply on Github but I just applied via Gitcoin. Does it work now?

This is my profile: https://gitcoin.co/gulyasbence

[2020-12-11 17:09] gulyasbence commented on #42
Thanks, @StatusSceptre for handling the payout!

@hesterbruikman this has been a fun project, I'm glad that I could be part of it. Of course, if anything comes up during the implementation let me know in the other issue and I'll be happy to help.

If there are other projects similar to this in the future, let me know, would love to contribute!

[2021-01-08 15:39] hesterbruikman commented on #44
A friendly check in :) How are things going on your end with the stickermarket dapp @tbenr (cc @guylouis)

[2021-01-09 13:44] tbenr commented on #44
@hesterbruikman my plan is to finish it this weekend!
I'll ping you tomorrow on the repo (ATM is private)

[2021-01-10 22:48] tbenr commented on #44
@hesterbruikman checkout https://github.com/tbenr/sticker-packs-publisher
there are still things to do

- [x] edit
- [x] confirm dialog with decoded categories (now you will see '0x00001' and similar)
- [x] ens resolution
- [x] nav bar back button
- [x] show example dialogs
- [ ] link to terms & conditions?

but for sure you can start testing around

[2021-01-13 18:56] tbenr commented on #44
@hesterbruikman added ens resolution and backbutton :)

![image](https://user-images.githubusercontent.com/15999009/104496560-6d99eb00-55d9-11eb-8c44-362bd1b970c5.png)

[2021-01-24 19:11] tbenr commented on #44
@hesterbruikman @gulyasbence dapp is complete

[2021-01-25 10:41] hesterbruikman commented on #44
@tbenr 🙌 Great! Sorry for the slow response on my part. I'll try and get set up to review today and will loop in someone on the engineering side

[2021-02-15 10:07] tbenr commented on #44
Hi @hesterbruikman ping me if i can help out on the review. Feel free to engage me when someone from the eng team will look into the dapp.

[2021-02-15 15:49] hesterbruikman commented on #44
Setting up to pay out the bounty @tbenr, so we don't keep you waiting on that again. Fantastic contribution as always!

Both @flexsurfer and I had a look. I found two minor issues, other than that everything looks great. Can you please take a look if these can be resolved?:
- [ ] Bleep of sticker banner in top left corner when loading the dapp
- [ ] Typo `Status Sitckers` in the bottom left of the

[2021-02-15 16:36] tbenr commented on #44
@hesterbruikman great! I pushed a fix for the two minor issues

[2021-03-17 17:21] #6 closed, assigned to andmironov

[2021-03-17 17:21] #9 closed, assigned to andmironov

[2021-03-17 17:21] #10 closed, assigned to andmironov

[2021-03-17 17:22] #18 closed, assigned to jpbowen, 0xc1c4da, andmironov, denis-sharypin, naghdy, hesterbruikman

[2021-03-17 17:22] #21 closed, assigned to nobody

[2021-03-17 17:23] #22 closed, assigned to nobody

[2021-03-17 17:23] #24 closed, assigned to nobody

[2021-03-17 17:24] #13 closed, assigned to errorists

[2021-03-17 17:24] #25 closed, assigned to errorists, EugeOrtiz

[2021-03-17 17:24] #26 closed, assigned to nobody

[2021-03-17 17:25] #28 closed, assigned to errorists, hesterbruikman

[2021-03-17 17:25] #31 closed, assigned to nobody

[2021-03-17 17:25] #29 closed, assigned to andmironov, obi2020, hazelyuyang

[2021-03-17 17:26] #33 closed, assigned to obi2020

[2021-03-17 17:26] #34 closed, assigned to obi2020

[2021-03-17 17:27] #35 closed, assigned to obi2020, errorists

[2021-03-17 17:28] #41 closed, assigned to nobody

[2021-03-17 17:28] #42 closed, assigned to nobody

[2021-03-17 18:05] Stefaniach commented on #24
OH WOW that had been a while 🤣 thanks @hesterbruikman

[2021-03-17 18:38] hesterbruikman commented on #24
Blast from the past right?!

⁣Verzonden door TypeApp ​

Op 17 mrt. 2021 19:06, om 19:06, Stef ***@***.***> schreef:

[2021-03-18 10:39] hesterbruikman opened #45 "Manage sending funds to contract address"

[2021-03-18 11:06] hesterbruikman commented on #36
Closing as redundant after #11675

[2021-03-18 11:06] #36 closed, assigned to obi2020, errorists

[2021-03-22 08:20] hesterbruikman commented on #11
Captured in https://github.com/status-im/status-react/issues/10468

[2021-03-22 08:20] #11 closed, assigned to errorists

[2021-03-22 08:21] hesterbruikman commented on #12
captured in https://github.com/status-im/status-react/issues/5985

[2021-03-22 08:21] #12 closed, assigned to errorists

[2021-03-22 08:23] hesterbruikman commented on #19
Outdated

[2021-03-22 08:23] #19 closed, assigned to andmironov, andytudhope, hesterbruikman

[2021-03-22 09:25] hesterbruikman commented on #37
Closing as the proposal is inaccurate. Receive and Request are different functionalities and should have their own place

[2021-03-22 09:25] #37 closed, assigned to andmironov, obi2020, errorists

[2021-03-22 10:45] hesterbruikman opened #46 "Dark mode Desktop"
- [ ] Investigate best color profiles for components
- [ ] Specify color profiles for components

[2021-03-22 14:42] hesterbruikman opened #47 "Community icons"
The community feature requires a significant number of icons to be added to the existing [icon library](https://www.figma.com/file/Gk13uZiVwGLHMPvQjaICAMWM/Status-icons?node-id=13%3A70)

Icons to be created can be found [here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=19014%3A1017)

[2021-03-24 15:04] hesterbruikman opened #48 "Update design system (Mobile)"

[2021-03-24 15:05] hesterbruikman opened #49 "Update design system (Desktop)"

[2021-05-10 08:34] hesterbruikman opened #50 "Communities Phase 2 (Mobile)"

[2021-05-10 08:35] hesterbruikman opened #51 "Communities Phase 2 (Desktop)"